body{
  font-size: 20px;
}

header h1{
  background: #199919;
  color: white;
  padding: 25px;
  display: flex;
  justify-content: center;
  text-decoration: underline;
  
}

h1 {
  font-size: 1.5em; 
}

section {
  display: flex;
  text-align: justify;
  max-width: 80%;
  
}

main img {
  flex-direction: column;
  max-width: 100%;
  border: 10px solid black;
}

main {
  text-align: center;
}