h1 {
  text-align: center;
}
ul{
  list-style-type: none;
  list-style: none;
}
body{
  margin-left: auto;
  margin-right: auto;
  width: 61em;
}

.podium{
  display: inline;
}

.first {
  background-color: rgb(235, 200, 84);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 200px;
  margin-left: 379px;
}

.second {
  background-color: rgb(219, 219, 219);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 300px;
  margin-left: 179px;
}

.third {
  background-color: rgb(170, 142, 106);
  font-size: 20px;
  height: 50px;
  text-align: center;
  width: 300px;
  margin-top: -50px;
  margin-left: 481px;
}
.award{
  text-align: center;
  display: inline-block;
  width: 973px;
  border-color: crimson;

}