ol{
  background: yellow;
}
ol li:nth-child(even){
  background: green;
}
ol li:nth-child(odd){
  text-transform: uppercase;
}
h1, h2, h3{
  background-color: red;
}
h1, h2, h3:nth-child(style=italic){
  font-size: 40px;
}