.title-header {
  margin: 0 auto;
  background-color: #1877f2;
  text-align: center;
  padding: 35px;
  border: 2px solid black;
  color:whitesmoke;
  font-size: 23px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#title-form {
  text-align: center;
  font-size: 29px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: midnightblue; 
}
.form-curriculo {
  background-color: #d6dfeb;
  width: 70%;
  margin: 1% auto;
  padding: 35px;
  border-radius: 6px;
}

label {
  display: block;
  margin-top: 10px;
}

input[type=text], input[type=email], #resumo {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  border-radius: 10px;

}
#estado {
  width: 20%;
  background: #f1f1f1;
}

.inputs {
  width: 90%;
  margin: 0 14% auto;
}

#envia-form {
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

#limpa-form {
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}